<footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Contact Us</h5>
                <address>
                    1234 Street Name,<br>
                    City, State 12345,<br>
                    Country<br>
                    <i class="fa fa-phone"></i> : +123456789<br>
                    <i class="fa fa-envelope"></i> : example@example.com
                </address>
            </div>
        </div>
    </div>
</footer>
