{% extends 'shop/layouts/main.html' %}
{% block title %} Registration | shopKart {% endblock title %}
{% block content %}

<section class="bg-light py-4 my-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">Cart Product</h4>
                <h3> Favorites Items</h3>
                <hr>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Price</th>
                
                    <th>Remove</th>
                </tr>
                {% for items in fav %}
                <tr>
                    <td>
                        <img src="{{ items.product.product_image.url }}" alt="Categories" style="height: 200px; object-fit: cover;">
                    </td>
                    <td>{{ items.product.name }}</td>
                    <td>${{ items.product.selling_price | stringformat:'d' }}</td>
                   
                    <td>
                        <a href="{% url 'removefavorite' items.id %}" onclick="return confirm('Are you sure to remove it')">
                            <button class="btn btn-danger btn-sn"><i class="fa fa-trsh">Remove Favorite</i></button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
               
            </table>
        </div>
    </div>
</section>

{% endblock content %}

